<section class="first_screen">
    <div class="slider_info swiper-initialized swiper-horizontal swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-10b66687cd44c9274" aria-live="polite">
            <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;assets/img/firstscren1.png&quot;); width: 1207px; margin-right: 40px;" role="group" aria-label="1 / 3" data-swiper-slide-index="0">
                <div class="container">
                    <div class="banner">
                        <h1 class="banner_title">Прямое КАРГО из Китая</h1>
                        <p class="banner_description">Доставляем любые грузы из Китая по честной цене</p>
                        <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/btn_arrow.svg" class="icon"></button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-next" style="background-image: url(&quot;assets/img/firstscren2.png&quot;); width: 1207px; margin-right: 40px;" role="group" aria-label="2 / 3" data-swiper-slide-index="1">
                <div class="container">
                    <div class="banner">
                        <h2 class="banner_title">Выкуп товара с ТаоБао, 1688</h2>
                        <h6 class="banner_description"><p class="mb-0">Выкуп и доставка товаров</p>с китайских торговых площадок</h6>
                        <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/btn_arrow.svg" class="icon"></button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(&quot;assets/img/firstscren3.png&quot;); width: 1207px; margin-right: 40px;" role="group" aria-label="3 / 3" data-swiper-slide-index="2">
                <div class="container">
                    <div class="banner">
                        <h2 class="banner_title">Экспресс авто доставка</h2>
                        <p class="banner_description">Доставка товаров из Китая в кратчайшие сроки</p>
                        <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/btn_arrow.svg" class="icon"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
        <div class="arrow_container">
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-10b66687cd44c9274"></div>
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-10b66687cd44c9274"></div>
        </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>


