<header>
  <div class="container_header">
      <a href="index.html">
        <img src="assets/img/logo.png"  class="img-fluid"/>
      </a>

      <div class="nav_section">
          <nav class="nav_list">
            <ul class="nav_list-list">
            <li class="nav_list-item"><a href="#" class="nav_list-item-link">Цены и сроки</a></li>  
            <li class="nav_list-item"><a href="#" class="nav_list-item-link">Услуги</a></li>   
            <li class="nav_list-item"> <a href="#" class="nav_list-item-link">О компании</a></li>  
            <li class="nav_list-item"><a href="#" class="nav_list-item-link">Контакты</a></li>  
            <li class="nav_list-item"><a href="#" class="nav_list-item-link">Оформить груз</a></li>  
            </ul>

            <div class="markup__btn">
              <button type="button" class="btn btn-primary btn-lg1">Оставить заявку</button>
          </div>
          
          </nav>
          <button class="btn-burger"></button>
      </div>
      

  </div>
</header>

